#pomodoro-clock {
  display: flex;
  align-items: center;
  justify-content: center;
}

#pomodoro-clock-inside {
  align-items: center;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  justify-content: space-between;
  width: 100%;
}

#pomodoro-clock-inside .timer {
  grid-column: 1 / span 2;
  grid-row: 1;
  width: auto;
}

#pomodoro-clock-inside .session-length {
  grid-column: 1;
  grid-row: 2;
  width: auto;
}

#pomodoro-clock-inside .break-length {
  grid-column: 2;
  grid-row: 2;
  width: auto;
}

#pomodoro-clock-inside .long-break-length {
  grid-column: 3;
  grid-row: 2;
  width: auto;
}

#pomodoro-clock-inside .cycle-count {
  grid-column: 3;
  grid-row: 1;
  width: auto;
}

#pomodoro-clock-inside .btn {
  margin: 0.2rem;
}

#pomodoro-clock-inside .fixed-width {
  width: 2.5rem;
}

#pomodoro-clock-inside .btn-set {
  background-color: rgba(255, 255, 250, 0.2);
  padding: 0.5rem;
  margin: 0.5rem;
  border: 1px solid var(--main-white);
  border-radius: 5px;
  height: 90%;
}

#pomodoro-clock-inside .label {
  font-size: 1.1rem;
}

#pomodoro-clock-inside .time {
  font-size: 1.2rem;
  line-height: 3.5rem;
}

#pomodoro-clock-inside .timer .time {
  font-size: 2rem;
}

#settings-group {
  grid-column: 1 / span 3;
  grid-row: 4;
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0.5rem;
}
