body {
  --main-red: #ef6461;
  --main-green: #63a375;
  --main-blue: #6083D6;
  --main-white: #fffffa;
  --main-black: hsl(0, 0%, 20%);
}

#body a,
a:focus,
a:hover {
  color: var(--main-white);
}

#body {
  background-color: var(--main-red);
  text-align: center;

  align-items: center;
  color: var(--main-black);
  display: flex;
  font-family: "Comfortaa", cursive;
  justify-content: center;
}
